.primary-button {
	@apply text-white bg-main px-4 py-2 shadow-sm rounded-md cursor-pointer hover:bg-[color-mix(in_srgb,_rgb(var(--background))_20%,_rgb(var(--primary-color)))] active:bg-[color-mix(in_srgb,_rgb(var(--background))_40%,_rgb(var(--primary-color)))];
}

.secondary-button {
	@apply text-[rgb(var(--text))] bg-[rgb(var(--background))] px-4 py-2 shadow-sm rounded-md border cursor-pointer hover:bg-[color-mix(in_srgb,_rgb(var(--text))_10%,_rgb(var(--background)))] active:bg-[color-mix(in_srgb,_rgb(var(--text))_20%,_rgb(var(--background)))];
}

.clickable-button {
	@apply border-b-2 transition-[color,border] duration-300 hover:text-[rgb(var(--text))] hover:border-[rgb(var(--text))];
}

.hoverable-button {
	@apply underline decoration-dotted decoration-1 cursor-default;
}

.border-button {
	@apply border border-[rgb(var(--border))] hover:border-[rgb(var(--text))] cursor-pointer;
}

@each $direction in top, right, bottom, left {
	.border-button-#{$direction} {
		border-#{$direction}-width: 2px;
		@apply hover:border-[rgb(var(--text))];
	}
}

.node {
	@apply relative items-center justify-center flex bg-default-10 hover:bg-default-50 active:bg-default-50 border border-default-30 hover:border-default-100 active:border-default-100 cursor-pointer;

	&::after {
		content: "";
		position: absolute;
		width: calc(100% + 12px);
		height: calc(100% + 12px);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
		transition: all 300ms;
	}

	&:hover::after {
		width: calc(100% + 6px);
		height: calc(100% + 6px);
		box-shadow: 0 0 0 2px rgb(var(--text));
	}

	&.active {
		@apply bg-default-50 border-default-100;
	}
}

.book {
	@apply relative transition-opacity duration-300 cursor-pointer rounded-lg overflow-hidden;

	&::after {
		content: "";
		position: absolute;
		width: calc(100%);
		height: calc(100%);
		transition: all 300ms;
		@apply inset-0;
	}

	&:hover::after {
		@apply bg-default-20;
	}
}
