.primary-button {
	color: white;
	background-color: rgba(var(--primary-color));
	padding: 8px 16px;
	box-shadow: 0 1px 2px 0px rgba(#000, 0.1);
	border-radius: 6px;
	cursor: pointer;

	&:hover {
		background-color: color-mix(in srgb, rgb(var(--background)) 20%, rgb(var(--primary-color)));
	}
	&:active {
		background-color: color-mix(in srgb, rgb(var(--background)) 40%, rgb(var(--primary-color)));
	}
}

.secondary-button {
	background-color: rgb(var(--background));
	padding: 8px 16px;
	box-shadow: 0 1px 2px 0px rgba(#000, 0.1);
	border-width: 1px;
	border-radius: 6px;
	cursor: pointer;

	&:hover {
		background-color: rgba(var(--foreground), 0.1);
	}

	&:active {
		background-color: rgba(var(--foreground), 0.2);
	}
}

.clickable-button {
	@apply border-b-2 transition-[color,border] duration-300 hover:text-[rgb(var(--foreground))] hover:border-[rgb(var(--foreground))];
}

.hoverable-button {
	@apply underline decoration-dotted decoration-1 cursor-default;
}

@each $direction in top, right, bottom, left {
	.border-button-#{$direction} {
		border-#{$direction}-width: 2px;
		@apply hover:border-[rgb(var(--foreground))];
	}
}

.node {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 8px;
	box-shadow: inset 0 0 0 1px rgba(var(--foreground), 0.2);
	transition: all 300ms;
	cursor: pointer;
	background: rgba(var(--foreground), 0.1);
	position: relative;

	&:hover {
		box-shadow: inset 0 0 0 2px rgba(var(--foreground), 1);
		background: rgba(var(--foreground), 0.4);
		color: rgba(var(--foreground), 1);
	}

	&::before {
		content: " ";
		position: absolute;
		top: 0;
		left: 0;
		width: calc(100% + 4px);
		height: calc(100% + 4px);
		transform: scale(1.05) translate(-2px, -2px);
		box-shadow: 0 0 0 0px rgba(var(--foreground), 1);
		opacity: 0.5;
		transition: all 300ms;
	}

	&:hover::before {
		transform: scale(1) translate(-2px, -2px);
		box-shadow: 0 0 0 2px rgba(var(--foreground), 1);
	}

	&.read {
		background: rgba(var(--foreground), 0);
	}

	&.active {
		box-shadow: inset 0 0 0 1px rgba(var(--foreground), 1);
		background: rgba(var(--foreground), 0.4);
		color: rgba(var(--foreground), 1);

		&:hover {
			box-shadow: inset 0 0 0 2px rgba(var(--foreground), 1);
		}

		&.read {
			background: rgba(var(--foreground), 0);
		}
	}
}

.book {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	position: relative;

	&::before {
		content: " ";
		position: absolute;
		border-radius: 6px;
		top: 0;
		left: 0;
		width: calc(100% + 4px);
		height: calc(100% + 4px);
		transform: scale(1.05) translate(-2px, -2px);
		box-shadow: 0 0 0 0px rgba(var(--foreground), 0.5);
		transition: all 300ms;
	}

	&:hover::before {
		transform: scale(1) translate(-2px, -2px);
		box-shadow: 0 0 0 2px rgba(var(--foreground), 1);
	}
}

.active-book {
	background-color: rgba(var(--foreground), 1);
}

.armor {
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: inset 0 0 0 1px rgba(var(--foreground), 0.2);
	transition: all 300ms;
	cursor: pointer;
	position: relative;

	&:hover {
		box-shadow: inset 0 0 0 2px rgba(var(--foreground), 1);
		color: rgba(var(--foreground), 1);
	}

	&::before {
		content: " ";
		position: absolute;
		top: 0;
		left: 0;
		width: calc(100% + 4px);
		height: calc(100% + 4px);
		transform: scale(1.05) translate(-2px, -2px);
		box-shadow: 0 0 0 0px rgba(var(--foreground), 1);
		transition: all 300ms;
	}

	&:hover::before {
		transform: scale(1) translate(-2px, -2px);
		box-shadow: 0 0 0 2px rgba(var(--foreground), 1);
	}
}
